@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to bottom, #f0f0f0, #ffd1dc);
}

p {
  font-family: "Campton", "Arial", sans-serif;
  color: #5c5a5a;
  margin: 20px;
  padding: 20px;
  line-height: 1.6;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  float: left;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 2px solid #808080;
}

.header .title {
  color: #000000;
  font-size: 1.2em;
}

.header .nav-item {
  color: #808080;
  margin-left: 10px;
  text-decoration: none;
}

.header .nav-item:hover {
  border-bottom: 2px solid #ffb6c1;
}

.image-container {
  margin-top: 30px;
}

.image-container img {
  width: 350px;
  height: 350px;
}

.image-container2 img {
  float: right;
  width: 500px;
  margin-left: 40px;
  margin-right: 30px;
}

.image-container2 img {
  margin-bottom: 20px;
}

h1,
p {
  margin-top: 100px;
}

.btn a {
  text-decoration: none;
  color: #ffffff;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background: linear-gradient(to right,
      rgb(172, 170, 170),
      rgb(248, 177, 188),
      #ffc0cb);
  border-radius: 5px;
  transition: background-color 0.3s ease;
  border: none;
}

.btn:hover {
  background: linear-gradient(to right,
      #a9a9a9,
      rgb(255, 121, 193),
      rgb(173, 100, 137));
}

ul {
  display: flex;
  align-items: center;
}

li {
  display: inline-block;
  margin: 10px;
}


.section1 {
  margin-top: 20px;
  font-size: 18px;
  height: 600px;
}


.section1 .div1 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: #3f3d3d;
  height: 10px;
}


.section2 {
  font-family: "georgia", serif;
  margin-top: 50px;
  color: #5c5a5a;
  height: 800px;
}

.div2 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #3f3d3d
}