@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to bottom, #f0f0f0, #ffd1dc);
}

img {
  /* Da mesma forma seria a estilização da imagem "Imagem que representa a pagina Papo Dev"*/
  max-width: 100%;
  height: auto;
  display: inline-block;
  margin: 8px;
}

.container-de-imagem1 img {
  /*Corresponde ao container da imagem "Imagem que representa a pagina Papo Dev"*/
  position: relative;
  top: -400px;
  float: right;
  width: 500px;
  height: 300px;
  margin-left: 40px;
  margin-right: 80px;
  margin-bottom: 20px;
  border: 5px solid #c4c3c3;
  /*usei essa tag border para estilizar( colocar uma borda) a imagem que representa a pagina "papo Dev"*/
}

.header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 2px;
  border-bottom: 2px solid #808080;
}

.header .title {
  color: #000000;
  font-size: 2.5em;
  padding: 10px;
}

.header .nav-item {
  color: #808080;
  margin-left: 10px;
  text-decoration: none;
}

.header .nav-item:hover {
  border-bottom: 2px solid #ffb6c1;
}

.botao-leia-mais a {
  text-decoration: none;
  color: #ffffff;
}

.botao-leia-mais {
  display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background: linear-gradient(to right,
      rgb(172, 170, 170),
      rgb(248, 177, 188),
      #ffc0cb);
  border-radius: 5px;
  transition: background-color 0.3s ease;
  border: none;
  margin-left: 100px;
}

.botao-leia-mais:hover {
  background: linear-gradient(to right,
      #a9a9a9,
      rgb(255, 121, 193),
      rgb(173, 100, 137));
}

ul {
  display: flex;
  align-items: right;
}

li {
  display: inline-block;
  margin: 30px;
  text-align: right;
}

.home-papo-dev {
  /* creio que tem duas tags repetidas, devo remover essa? */
  font-size: 18px;
  height: 600px;
}

.home-papo-dev p {
  /* arrumei essa tag que estava solta e encaixei ela na section1*/
  /* esse faz parte do parágrafo da section1*/
  font-family: "Campton", "Arial", sans-serif;
  color: #5c5a5a;
  margin: 95px;
  margin-right: 800px;
  padding: 20px;
  line-height: 1.6;
  width: 600px;
}

.home-papo-dev .container-papo-dev {

  /*faz parte do titulo "h1" */
  font-size: 30px;
  color: #3f3d3d;
  height: 10px;
  margin-left: 100px;
  margin-top: 100px;
  /* é uma tag repetida, devo remover essa?*/
}

.inteligencia-artificial {
  font-family: "georgia", serif;
  color: #5c5a5a;
  display: flex;
  width: 100%;
  margin-bottom: 30px;
}

.container-texto {
  width: 60%;
}

.inteligencia-artificial.texto-ia {
  display: flex;
}

.inteligencia-artificial.texto-ia li {
  height: 170px;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.inteligencia-artificial.texto-ia li strong {
  margin-bottom: 20px;
}

.texto-ia-titulo {
  font-size: 24px;
  color: #504e4e;
  width: 100%;
  padding-bottom: 25px;
  border-bottom: 1px solid #8f8e8a80;
}

.container-de-imagem2 {
  width: 25%;
}

/* Coloquei para definir a cor , o alinhamentoe a fonte dos textos */
.container-tecnologia {
  color: #5c5a5a;
  font-family: Georgia, serif;
  text-align: center;

}

/* Coloquei para definir a cor e a fonte dos títulos */
.titulo-tecnologia {
  color: #3f3d3d;
  font-size: 24px;
  border-bottom: 1px solid #8f8e8a80;
  padding-bottom: 25px;
  text-align: center;
  margin-top: 200px;
}

.titulo-html,
.titulo-css,
.titulo-js {
  color: #3f3d3d;
  font-size: 22px;
  text-align: center;
  margin-top: 80px;

}

/* Coloquei para definir o layout da lista */
.container-lista-tecnologia {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* coloquei para definir a borda, tamanho,cor de fundo das imagens */
.container-da-imagem-html,
.container-da-imagem-css,
.container-da-imagem-js {
  max-width: 100%;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
  border: 2px solid #8f8e8a;
  border-radius: 50%;
  background-color: #d4b1a7;
  width: 150px;
  height: 150px;

}




.rodape {
  /* estou tendo dificuldades de  solucionar o erro do rodape, ja tentei ajustar usando alternativas mudando para "relative, etc", mas nada deu resultado" preciso de ajudo em relação a ele.*/
  background-color: #d4b1a7;
  color: #adaaaa;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.rodape .copyright {
  color: #000000;
}

.rodape .nav {
  display: flex;
  gap: 20px;
}

.rodape .nav-item {
  color: #5c5a5a;
  text-decoration: none;
}